In [1]:
from google.cloud import bigquery

client = bigquery.Client()

Using Kaggle's public dataset BigQuery integration.

In [3]:
import pandas as pd


gene_list = pd.read_csv('/kaggle/input/oncokb-cancer-gene-list/cancerGeneList.tsv', sep='\t')
gene_list.head()

,Hugo Symbol,Entrez Gene ID,GRCh37 Isoform,GRCh37 RefSeq,GRCh38 Isoform,GRCh38 RefSeq,Is Oncogene,Is Tumor Suppressor Gene,# of occurrence within resources (Column J-P),OncoKB Annotated,MSK-IMPACT,MSK-HEME,FOUNDATION ONE,FOUNDATION ONE HEME,Vogelstein,COSMIC CGC (v99),Gene Aliases
0,ABL1,25,ENST00000318560,NM_005157.4,ENST00000318560,NM_005157.4,Yes,No,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"ABL, JTK7, c-ABL"
1,AKT1,207,ENST00000349310,NM_001014431.1,ENST00000349310,NM_001014431.1,Yes,No,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"AKT, PKB, PRKBA, RAC, RAC-alpha"
2,ALK,238,ENST00000389048,NM_004304.4,ENST00000389048,NM_004304.4,Yes,No,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,CD246
3,AMER1,139285,ENST00000330258,NM_152424.3,ENST00000374869,NM_152424.3,No,Yes,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"FAM123B, FLJ39827, RP11-403E24.2, WTX"
4,APC,324,ENST00000257430,NM_000038.5,ENST00000257430,NM_000038.5,No,Yes,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"DP2.5, PPP1R46"

In [5]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/marcin119a/data/refs/heads/main/bq-metadata.csv')

In [6]:
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Name,BQ Project,BQ Dataset,BQ Table,Full ID,Program,Category,Reference Genome,Source,Data Type,Exp. Strategy,Status,Rows,Created,Example Joins,Description,Labels,Fields
0,ACADEMIA SINICA LUAD-100 (LUNG ADENOCARCINOMA)...,isb-cgc-bq,ICPC,quant_phosphoproteome_academia_sinica_LUAD100_...,`isb-cgc-bq.ICPC.quant_phosphoproteome_academi...,ICPC,PROCESSED -OMICS DATA,NaN,PDC,PHOSPHOPROTEOME,NaN,CURRENT,"11,667,348",9/23/2022,NaN,Normalized log2ratio protein abundance estimat...,"access:open, category:processed_-omics_data, d...","case_id, sample_id, aliquot_id, aliquot_submit..."
1,ACADEMIA SINICA LUAD-100 (LUNG ADENOCARCINOMA)...,isb-cgc-bq,ICPC_versioned,quant_phosphoproteome_academia_sinica_LUAD100_...,`isb-cgc-bq.ICPC_versioned.quant_phosphoproteo...,ICPC,PROCESSED -OMICS DATA,NaN,PDC,PHOSPHOPROTEOME,NaN,CURRENT,"11,667,348",9/23/2022,NaN,Normalized log2ratio protein abundance estimat...,"access:open, category:processed_-omics_data, d...","case_id, sample_id, aliquot_id, aliquot_submit..."
2,ACADEMIA SINICA LUAD-100 (LUNG ADENOCARCINOMA)...,isb-cgc-bq,ICPC,quant_proteome_academia_sinica_LUAD100_pdc_cur...,`isb-cgc-bq.ICPC.quant_proteome_academia_sinic...,ICPC,PROCESSED -OMICS DATA,NaN,PDC,PROTEIN EXPRESSION,NaN,CURRENT,"5,447,088",2/27/2023,NaN,Normalized log2ratio protein abundance estimat...,"access:open, category:processed_-omics_data, d...","case_id, sample_id, aliquot_id, aliquot_submit..."
3,ACADEMIA SINICA LUAD-100 (LUNG ADENOCARCINOMA)...,isb-cgc-bq,ICPC_versioned,quant_proteome_academia_sinica_LUAD100_pdc_V2_16,`isb-cgc-bq.ICPC_versioned.quant_proteome_acad...,ICPC,PROCESSED -OMICS DATA,NaN,PDC,PROTEIN EXPRESSION,NaN,CURRENT,"5,447,088",2/27/2023,NaN,Normalized log2ratio protein abundance estimat...,"access:open, category:processed_-omics_data, d...","case_id, sample_id, aliquot_id, aliquot_submit..."
4,ACADEMIA SINICA LUAD-100 CLINICAL DATA,isb-cgc-bq,ICPC,clinical_academia_sinica_LUAD_100_pdc_current,`isb-cgc-bq.ICPC.clinical_academia_sinica_LUAD...,ICPC,CLINICAL BIOSPECIMEN DATA,NaN,PDC,CLINICAL DATA,NaN,CURRENT,110,5/27/2021,NaN,Data for the Academia Sinica LUAD-100 project ...,"access:open, category:clinical_biospecimen_dat...","case_id, case_submitter_id, project_submitter_..."

In [7]:
datasets_expression = df[(df['Full ID'].str.contains('RNAseq_hg38_gdc_current')) | (df['Full ID'].str.contains('Expression'))]

In [8]:
datasets_mutations = df[(df['Full ID'].str.contains('somatic')) & (df['Full ID'].str.contains('current'))]

In [9]:
merged_df = pd.merge(datasets_expression, datasets_mutations, on='BQ Dataset', suffixes=('_expr', '_mut'))

In [10]:
filtered_df = merged_df[merged_df['BQ Table_expr'] != 'miRNAseq_hg38_gdc_current']

In [11]:
filtered_df['Fields_expr'].iloc[0]

'project_short_name, primary_site, case_barcode, sample_barcode, aliquot_barcode, gene_name, gene_type, Ensembl_gene_id, Ensembl_gene_id_v, unstranded, stranded_first, stranded_second, tpm_unstranded, fpkm_unstranded, fpkm_uq_unstranded, sample_type_name, case_gdc_id, sample_gdc_id, aliquot_gdc_id, file_gdc_id, platform,'

In [12]:
genes = ', '.join(f'"{gene}"' for gene in gene_list['Hugo Symbol'].unique())

In [ ]:
# Tworzenie jednego zapytania z UNION ALL dla wszystkich datasetów
union_queries = []
for dataset in filtered_df['Full ID_expr']:
    union_queries.append(f"""
    SELECT gene_name, case_barcode, tpm_unstranded, primary_site
    FROM {dataset}
    WHERE gene_name in ({genes})
    """)

# Łączenie wszystkich zapytań w jedno z agregacją
query = f"""
SELECT 
    case_barcode,
    ARRAY_AGG(gene_name ORDER BY gene_name) as gene_name,
    ARRAY_AGG(tpm_unstranded ORDER BY gene_name) as tpm_unstranded,
    ANY_VALUE(primary_site) as primary_site
FROM (
    {' UNION ALL '.join(union_queries)}
)
GROUP BY case_barcode
ORDER BY case_barcode
"""

query_job = client.query(query)
df_expressions = query_job.to_dataframe()

In [ ]:
df_expressions

Empty DataFrame
Columns: [case_barcode, gene_name, tpm_unstranded, primary_site]
Index: []

In [16]:
df_expressions.to_parquet('expression_onko_db.parquet')

In [23]:
df_expressions_sorted = df_expressions.sort_values(by='gene_name')
    
# Group by case_barcode and aggregate tpm_unstranded into a list
grouped_expressions_df = df_expressions_sorted.groupby('case_barcode')['tpm_unstranded'].apply(list).reset_index()

grouped_expressions_df

       case_barcode                                     tpm_unstranded
0           01BR001  [0.2494, 64.2557, 11.4315, 7.1285, 1.9811, 8.7...
1           01BR008  [1.7251, 38.5475, 10.3734, 6.9426, 1.1576, 3.3...
2           01BR009  [1.9202, 57.0094, 11.9917, 8.1604, 1.4472, 36....
3           01BR010  [3.4115, 41.4999, 33.4159, 6.2088, 2.1342, 29....
4           01BR015  [3.2072, 55.4033, 33.4278, 9.3306, 3.807, 21.7...
...             ...                                                ...
19555  TCGA-ZS-A9CF  [4.769, 15.642, 18.4512, 24.2891, 22.7954, 19....
19556  TCGA-ZS-A9CG  [79.5957, 18.0213, 16.5968, 2.894, 0.8658, 6.6...
19557  TCGA-ZT-A8OM  [0.5088, 15.2741, 11.3042, 2.7836, 1.0875, 2.9...
19558  TCGA-ZU-A8S4  [12.9105, 10.5616, 9.3254, 66.5383, 5.1272, 60...
19559  TCGA-ZX-AA5X  [3.8986, 59.159, 42.7654, 7.7885, 2.0867, 131....

[19560 rows x 2 columns]

In [25]:
filtered_grouped_expressions_df = grouped_expressions_df[
        grouped_expressions_df['tpm_unstranded'].apply(len) == 1180
    ]

In [28]:
filtered_grouped_expressions_df['case_barcode'].str.contains('TCGA')

       case_barcode                                     tpm_unstranded
9049   TCGA-02-0003  [4.5317, 23.5094, 36.0164, 8.1348, 1.204, 38.3...
9050   TCGA-02-0016  [24.0906, 44.8204, 23.6335, 12.3301, 3.2369, 6...
9051   TCGA-02-0026  [6.5582, 48.0798, 61.4221, 20.8733, 2.0219, 39...
9052   TCGA-02-0033  [2.301, 27.3171, 27.362, 24.4932, 1.2572, 9.90...
9053   TCGA-02-0038  [2.821, 19.328, 29.0524, 6.3993, 1.488, 91.915...
...             ...                                                ...
19553  TCGA-ZS-A9CD  [29.1061, 19.0332, 12.5332, 2.8365, 0.5151, 29...
19554  TCGA-ZS-A9CE  [8.6253, 26.0706, 11.7897, 1.9057, 0.9133, 48....
19556  TCGA-ZS-A9CG  [79.5957, 18.0213, 16.5968, 2.894, 0.8658, 6.6...
19557  TCGA-ZT-A8OM  [0.5088, 15.2741, 11.3042, 2.7836, 1.0875, 2.9...
19559  TCGA-ZX-AA5X  [3.8986, 59.159, 42.7654, 7.7885, 2.0867, 131....

[9594 rows x 2 columns]

In [ ]:
grouped_expressions_df['tpm_unstranded'].apply(len)

In [ ]:
genes_mutations = """'ABL1', 'ADAM15', 'AGT', 'ANXA2', 'APC', 'APP', 'APPL1', 'ARAF',
           'ARHGAP9', 'ATR', 'BCLAF1', 'BGN', 'BMX', 'BPTF', 'BTRC', 'CBL',
           'CBLB', 'CCR2', 'CD244', 'CD300LF', 'CD9', 'CDC25B', 'CDH1',
           'CEP70', 'CGN', 'CHN2', 'CLTC', 'CNTRL', 'COL18A1', 'COL1A2',
           'COL6A3', 'COLEC12', 'CP', 'CPT2', 'CREBBP', 'CRK', 'CSF2RB',
           'CSF3R', 'CTNNA1', 'CTTN', 'CXorf21', 'CYTH4', 'DENND3', 'DENND4C',
           'DLG1', 'DNAJC6', 'DOCK1', 'DOCK8', 'DSG2', 'DUSP10', 'DUSP19',
           'DUSP26', 'DUSP6', 'DVL2', 'DVL3', 'EGFR', 'EMILIN1', 'EN1',
           'EP300', 'EPC1', 'EPM2A', 'EPN1', 'EPN2', 'EPS8', 'ERRFI1', 'EYA1',
           'EYA2', 'F10', 'F8', 'FASN', 'FASTKD5', 'FBF1', 'FBN1', 'FBXO25',
           'FER', 'FGF10', 'FGF5', 'FGFR2', 'FGFR4', 'FLT4', 'FOXK1', 'FOXO3',
           'FOXO4', 'FRS2', 'FUT7', 'GAB2', 'GAB3', 'GATA2', 'GFI1', 'GLI2',
           'GNA11', 'GNAQ', 'HAL', 'HIF1A', 'HNF4A', 'HRC', 'HSP90AA1',
           'HSPG2', 'IKZF1', 'IL17RA', 'IL1B', 'INPP5D', 'INPPL1', 'INTU',
           'ITGA1', 'ITGA11', 'ITGA2', 'ITGAV', 'ITGB2', 'ITGB3', 'JAK1',
           'JAK3', 'KDR', 'KIT', 'KL', 'KLB', 'KLHL12', 'LAPTM4B', 'LGMN',
           'LRFN1', 'LRP1', 'LRP6', 'LRRFIP1', 'LYN', 'MAPK11', 'MAPK12',
           'MEF2C', 'MET', 'MFGE8', 'MMP2', 'MPDZ', 'MPO', 'MRC2', 'MS4A6A',
           'MTM1', 'MTMR3', 'MTOR', 'MYB', 'MYO1C', 'MYO1F', 'MYO1G', 'NAA15',
           'NCK1', 'NEBL', 'NEDD4', 'NFKB1', 'NIPSNAP3B', 'NOS3', 'NRP1',
           'NRP2', 'NTRK1', 'ONECUT1', 'ORAI1', 'OTUD7B', 'PAG1', 'PALLD',
           'PCDH19', 'PDCD6IP', 'PDGFRA', 'PEX5', 'PHLDB2', 'PIK3C2A',
           'PIK3C2B', 'PIK3CA', 'PIK3CB', 'PIK3R3', 'PIP4K2A', 'PLCE1',
           'PLD4', 'PLK1', 'PLXNA1', 'PPFIA3', 'PRKCA', 'PRKCB', 'PRKCG',
           'PRKCH', 'PRLR', 'PTEN', 'PTK2', 'PTP4A2', 'PTPN11', 'PTPN13',
           'PTPN14', 'PTPN4', 'PTPN6', 'PTPRB', 'PTPRC', 'PTPRD', 'PTPRF',
           'PTPRJ', 'PTPRK', 'PTPRN2', 'PTPRQ', 'PTPRS', 'PTPRU', 'RASA1',
           'RASA2', 'RCSD1', 'RECK', 'REL', 'RET', 'ROCK1', 'RYR1', 'S1PR2',
           'S1PR5', 'SCFD1', 'SERPINB10', 'SGK1', 'SH2B1', 'SH2B2', 'SH2B3',
           'SH2D2A', 'SH3KBP1', 'SHC1', 'SHC2', 'SHC3', 'SLC46A1', 'SMAD4',
           'SNAI2', 'SOS1', 'SOS2', 'SPRED2', 'SREBF1', 'SSH2', 'STAT1',
           'STAT2', 'STAT3', 'STAT4', 'TFAP2A', 'TFAP2B', 'TGFBR2', 'TGIF1',
           'THOC5', 'TJP1', 'TNK1', 'TNS1', 'TP53', 'TPD52', 'TRAF3IP1',
           'TRAF4', 'TRIP6', 'TXK', 'TYK2', 'UBA5', 'USP20', 'VAV2', 'VAV3',
           'VEGFA', 'VTN', 'WASF2', 'WDR35', 'WDR74', 'YY1', 'ZBTB34', 'ZEB1',
           'ZEB2', 'ZHX2', 'ZZEF1'"""

In [ ]:
filtered_df.to_csv('filtered_df.csv')

In [ ]:
data_mutations = []
for dataset in filtered_df['Full ID_mut']:
        query = f"""
        SELECT
            m.case_barcode,
            m.Hugo_Symbol,
            m.Start_position,
            m.End_position,
            m.Chromosome,
            m.Variant_Type,
            m.Reference_Allele,
            m.Tumor_Seq_Allele2,
            m.Tumor_Seq_Allele1,
            m.Gene,
            m.Exon,
            m.Strand,
            m.primary_site
        FROM
        {dataset} AS m
        WHERE m.Hugo_Symbol in ({genes})
        ORDER BY m.Hugo_Symbol         
        ;
        """
 
        try: 
            query_job = client.query(query)
            result_df_mutations = query_job.to_dataframe()
            result_df_mutations['dataset'] = dataset
            data_mutations.append(result_df_mutations)
        except Exception as e:
            print(e)
            print(dataset)

In [ ]:
#Index(['primary_site', 'file_gdc_id', 'project_short_name', 'Variant_Type',
#       'Variant_Classification', 'Reference_Allele', 'Tumor_Seq_Allele1',
#       'Tumor_Seq_Allele2', 'Gene', 'Feature', 'Hugo_Symbol', 'Exon', 'Start',
#       'End', 'Genomic_Bin', 'Strand', 'dataset', 'Chromosome',
#       'Mutational_Motif'],
#      dtype='object')

In [ ]:
import pandas as pd 

df_mutations = pd.concat(data_mutations, ignore_index=True)

In [ ]:
df_mutations.to_parquet('mutations.parquet')

In [ ]:
df_expressions.head(1)

In [ ]:
grouped_expression_df = df_expressions.groupby('case_barcode').agg({
    'gene_name': list,
    'tpm_unstranded': list,
}).reset_index()

In [ ]:
grouped_expression_df.shape

In [ ]:
grouped_expression_df['case_barcode'].unique()

In [ ]:
grouped_mutations_df = df_mutations.groupby('case_barcode').agg({
    'Hugo_Symbol': list,
    'primary_site': 'first'
    #'Variant_Type': 'count',
}).reset_index()

In [ ]:
grouped_mutations_df.shape

In [ ]:
import pandas as pd 
combined_df = pd.merge(grouped_mutations_df, grouped_expression_df, on="case_barcode", suffixes=('_mutation', '_expression'))
combined_df.head(5)

In [ ]:
combined_df.shape